body{
	background-image: url(../images/happybday.jpg);
	background-repeat: no-repeat;
    background-size: 95%;
    background-height: 80%;
}

.header{
	color: #404040;
	font-size: 50px;
	padding-top: 50px
}

.maincontent{
	color: #404040;
	font-size: 20px;
	padding: 30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #F16745;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}



  